.container_hero {
  height: 616px;
  background: url("../../images/Image-hero.png"),
    linear-gradient(314.72deg, #c86dd7 -1.5%, #7e49c3 39.43%, #5912ac 86.02%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.section_container {
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

.section_container h1 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
}

.section_container p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}

.section_container a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  transition: 0.5s;
}

.section_container a:hover {
  color: rgba(255, 255, 255, 0.67);
}

.section_container button {
  background: #00a870;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-right: 16px;

  padding-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_container button:hover {
  background-color: #04c883;
}

.texts_container {
  width: 584px;

  margin-right: 188px;
  display: flex;
  flex-direction: column;
}

.play_container {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container_hero {
    height: 616px;
    background: url("../../images/Image-heroM.png"),
      linear-gradient(314.72deg, #c86dd7 -1.5%, #7e49c3 39.43%, #5912ac 86.02%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .section_container .card_img {
    display: none;
  }

  .texts_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    margin: auto 0;
  }

  .section_container h1 {
    font-size: 28px;
    text-align: center;
  }

  .section_container p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
  }

  .section_container a {
    font-size: 16px;
  }
}
