.section_container {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_container > img {
  margin-bottom: 40px;
}

.section_container h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  color: #3d3d3d;
}

.section_container > p {
  max-width: 784px;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}

@media (max-width: 768px) {
  .section_container {
    margin: 64px 0;
    text-align: center;
  }

  .section_container > img {
    margin-bottom: 24px;
  }

  .section_container h2 {
    font-size: 22px;
    margin-bottom: 16px;

  }
}
