.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica neus;
    height: 112px;
    background: #fff;
    border: solid 1px #dfdfdf
}

.container img {
    margin-right: 32px;
}

.container a {
	color: #5E20A4;
	font-weight: 500;
	font-size: 16px;
	margin-right: 2px;
}

.container h4 {
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	margin-right: 2px;
	/* font-family: Helvetica Neue; */
}

