.section_container {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
}

.section_container > img {
  margin-right: 44px;
}

.text_container {
  text-align: left;
  max-width: 484px;
}

.text_container > h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  color: #3d3d3d;
}

.text_container > p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}

.text_container > a {
  font-weight: 500;
  font-size: 16px;
  color: #5e20a4;
}

@media (max-width: 768px) {
  .section_container {
    margin: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_container > img {
    margin: 0;
    margin: 40px;
    max-width:312px;
    max-height:230px;
  }

  .text_container {
    text-align: center;
  }

  .text_container > h2 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .text_container > p {
    margin-bottom: 24px;
  }
}

