.section_container {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
}

.section_container > img {
  margin-right: 44px;
}

.text_container {
  text-align: left;
  width: 484px;
}

.text_container > h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  color: #3d3d3d;
}

.text_container > p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}

.text_container > a {
  font-weight: 500;
  font-size: 16px;
  color: #5e20a4;
}
