.container_footer {
  height: 540px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
}

/* Primeira secção do Footer */
.container_create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_create h2 {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin-bottom: 16px;
}

.container_create > p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.btn_create {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 304px;
  height: 68px;
  border-radius: 4px;
  background-color: #5e20a4;
  margin-bottom: 24px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn_create:hover {
  background-color: #6507d2;
}
.btn_create > img {
  margin-right: 21px;
}

.text_btn {
  display: flex;
  flex-direction: column;

  color: #ffffff;
  font-weight: 400;
  text-align: left;
}

.text_btn > p:nth-child(1) {
  font-size: 16px;
  padding-bottom: 6px;
}

.text_btn > p:nth-child(2) {
  font-size: 12px;
}

.container_create > a {
  font-weight: 500;
  font-size: 16px;
  color: #5e20a4;
  text-align: center;
}

.container_create > a:hover {
  color: #6e08e4;
}
/* Segunda secção do Footer: Navegação Site */
.container_nav_services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 128px;
}

.nav_services {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  column-gap: 20px;
}

.nav_services a {
  color: #5d5c5c;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s;
}

.nav_services a:hover {
  border-bottom: 1px solid #5d5c5c;
}

/* Segunda secção do Footer: Redes Sociais */
.nav_social {
  display: flex;
  column-gap: 16px;
}

.nav_social > a > img {
  transition: 0.5s;
  border-radius: 100%;
}

.nav_social > a > img:hover {
  background-color: #838181;
}

.container_logo {
  width: 175px;
  text-align: start;
}

/* Última secção */
.container_footer > p {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 768px) {
  .container_footer {
    padding: 0 22px;
  }

  .container_create h2 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 22px;
  }

  .container_create > p {
    font-size: 16px;
  }

  .container_create > a {
    margin-bottom: 25px;
  }

  .container_nav_services {
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .nav_services {
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 245px;
    height: 60px;
    margin-bottom: 24px;
  }

  .container_footer > p {
    padding-bottom: 10px;
  }
}
