.section_container {
  margin-top: 120px;
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_container {
  text-align: left;
  height: 392px;
  max-width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text_container > h2 {
	font-weight: 500;
  font-size: 28px;
  color: #3d3d3d;
}

.text_container > p {
  font-weight: 500;
  font-size: 16px;
  color: #3d3d3d;
}

.text_container > p > a {
  font-weight: 700;
  font-size: 16px;
  color: #5E20A4;
}

.text_container > a {
  font-weight: 700; 
  font-size: 16px;
  color: #5E20A4;
} 

@media (max-width: 768px) {
  .section_container {
    margin-top: 64px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .section_container > img {
    margin-bottom: 24px;
    width:304px;
    height: 204px;
  }

  .text_container {
    text-align: center;
  }

  .text_container > h2 {
    font-size: 22px;
  }

  .text_container > p {
    margin-bottom: 24px;
  }
}